html 
{
   background-image: url('../images/brick-1.jpg');
  /* background-repeat: repeat;
  background-size: auto; 
  color:aliceblue; */
}

canvas {
  display: block;
}

div.main-heading
{

}

div.image-container-center
{
  text-align:center;
  
}

div.image-container-center img#logo-text
{
  width: 40%;
  margin-top: 10px;
  
}

div.bouncing-square-container
{
  text-align:center;
}

img#bouncing-square
{
  width:3%;
  height: auto;
  
}

body
{
  background-color: white;
  max-width: 1000px;
  height: 700px;
  margin: auto;
  margin-top: 10px;
  /*border-style: outset; */
}

div.heading-nav 
{
   margin: auto;
   height: 35px;
  
}

div.heading-nav ul 
{
  margin: 1px;
}

div.heading-nav ul.utility-menu 
{
  float: right;
}

div.heading-nav ul li
{
   list-style-type: none;
   float: left;
   padding: 5px;
   border: 2px solid black;
   border-radius: 3px;
}

div.main-container
{
  /*border-top: solid;*/
  padding: 15px;
}