html 
{
  background-image: url('../images/eucalyptus-wood.jpg');
  background-repeat: repeat;
  background-size: contain;
  background-attachment: fixed;
}

body
{
  width: 90%;
  margin: auto;
  border-style: outset; 
}

.main-heading
{

}

.main-heading h1
{
  text-align: center;
}

.main-topnav 
{
   margin: auto;
   border-style: dashed;
}

.main-container
{

}
